<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <div class="navbar text-center">
      <ul class="nav navbar-nav">
        <li class="nav-item last"><a href="/gdpr.html">Datenschutz</a></li>
        <li class="nav-item"><a href="/impressum.html">Impressum</a></li>
      </ul>
    </div>
    <br/>
    <small class="copyright">&copy; 2022</small>
    <!--<small class="copyright">A free, <a href="https://github.com/smartergiving/free-nonprofit-starter-website" target="_blank">open source</a> project from the folks at <a href="http://smartergiving.org" target="_blank">SmarterGiving</a></small><br>
    <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>-->
  </div><!--//container-->
</footer><!--//footer-->
