---
# Do not remove the triple dashes
---
@charset "utf-8";

//
// Set color scheme
//

{% if site.color_scheme == "one" %}
  $color: #0069b4;
  $color-2: #ffe73c;
{% elsif site.color_scheme == "two" %}
  $color: #b4ca65;
  $color-2: #dd7c4f;
{% elsif site.color_scheme == "three" %}
  $color: #6690b9;
  $color-2: #f46fa3;
{% elsif site.color_scheme == "four" %}
  $color: #50c8c9;
  $color-2: #ffbe57;
{% else %}
  $color: #6690b9;
  $color-2: #ffe73c;
{% endif %}

//
// Import partials from `_sass` folder
//

@import "default";
@import "form";

//
// Insert custom css below this line
//

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.header {
  background: transparent;
}

.header .main-nav .nav .nav-item a {
  font-size: 22px;
  color: #fff !important;
  font-weight: 800;
  text-transform: uppercase;
}

.header .main-nav .nav .nav-item a:hover {
  color: #00101b;
}

.header.navbar-fixed-top .main-nav .nav .nav-item a {
  color: #0669b1 !important;
}

.promo {
  background-image: url('/assets/img/promo.svg');
  background-size: cover;
  background-position: center;
}

.promo .title.slideInRight .highlight {
  color: #0669b1 !important;
}

.btn-outline.btn-outline-medium {
  border: 2px solid #0669b1 !important;
  color: #0669b1 !important;
}

.btn-outline.btn-outline-medium:hover {
  background-color: #0669b1 !important;
  color: #efd100 !important;
}

.social-media {
  background: transparent !important;
}

.contact {
  background: linear-gradient(90deg, $color 0%, darken($color, 15%) 50%, $color 100%);
}

/*.promo {
  background-image: url('/assets/img/triangles.png'), url('/assets/img/triangles-rotated.png');
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 30%, 30;
  background-blend-mode: overlay, overlay;
}*/

.contact h2 {
  color: $color-2 !important;
}

.promo .bottom-title {
  padding-top: 0.5em;
  border: 0;
}

.promo .top-title {
  padding-bottom: 0.5em;
}

.disabled-link {
  pointer-events: none;
}
.logo-title:hover {
  text-decoration: none;
}
.promo .title {
  font-size: 65px;
  color: $color;
  margin-top: 0;
}
.btns {
  margin-top: 50px;
  margin-bottom: 50px;
}
.promo .meta {
    margin-top: 30px;
}
.donorbox {
  margin-top: 60px;
}
.join-us-intro {
  margin-top: 0;
  color: #ddd !important;
}
.highlight {
  color: $color-2 !important;
}
.promo .social-icons a {
    display: inline-block;
    background: darken($color, 20%);
    color: #fff;
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 8px;
    float: left;
}

.btn-container {
  margin: 0px auto 60px;
  max-width: 85%;
}

.donate .form-heading {
  color: darken($color, 30%);
}
.donate .title {
  margin-bottom: 0;
}
.donate .amount-selection {
  text-align: left;
}

.speech-bubble {
  display: none;
}

.speech-bubble div.icon-holder {
  display: none;
}

.btn-outline, .btn-outline:link, .btn-outline:visited {
    background-color: transparent;
    border-radius: 5px;
    &.btn-outline-primary {
      border: 2px solid $color;
      color: $color;
    }
    &.btn-outline-secondary {
      border: 2px solid $color-2;
      color: $color-2;
    }
    &.btn-outline-medium {
      border: 2px solid darken($color-2, 15%);
      color: darken($color-2, 15%);
    }
}
.btn-outline:hover {
    color: #fff !important;
    &.btn-outline-primary {
      background-color: $color;
    }
    &.btn-outline-secondary {
      background-color: $color-2;
    }
    &.btn-outline-medium {
      background-color: darken($color-2, 15%);
    }
}
.donate-paypal-button {
  background: #0669b1;
	color: #efd100;
	margin-right: 15px;
	font-size: 18px;
	padding: 8px 30px;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
}

.features .form-inline {
  margin-top: 10px;
}

.contact .info .sub-title {
  color: $color-2;
}

.contact .img-fluid,
.wire-hidden .img-fluid {
  width: 10vw;
  max-width: 100%;
  height: auto;
  padding-bottom: 1em;
}

.contact a {
  color: $color-2;
}

@media only screen and (max-width: 48em) {
  .promo {
    background-image: url('/assets/img/m_promo.svg');
    background-size: cover;
    background-position: center;
    padding-top: 110px;
    max-width: 100%;
    overflow: hidden;
   }
  .promo .top-title {
    padding-bottom: 1.5em
  }
  .promo .bottom-title {
    padding-top: 1.5em
  }
  .header {
    background: #0069b4;
    z-index: 9999;
  }
  .nav-item {
    margin: 0 auto !important;
  }
  .header .main-nav .nav .nav-item.last {
    border-bottom: 1px solid #eee;
    width: 40%;
    margin: 0 auto; 
  }
  .header.navbar-fixed-top .main-nav .nav .nav-item.last {
    border-bottom: 1px solid #ccc;
  }
  .header .main-nav .nav .nav-item a {
    text-align: center;
  }
  .header .main-nav button {
    background: #ffe73c;
  }
  .header .main-nav button .icon-bar {
    background-color: #0669b1;
  }
  .header.navbar-fixed-top .main-nav button {
    background: #0669b1;
  }
  .header.navbar-fixed-top .main-nav button .icon-bar {
    background-color: #ffe73c;
  }  
  .navbar-collapse {
    border-top: 1px solid #eee;
  }
  .header.navbar-fixed-top .navbar-collapse {
    border-top: 1px solid #ccc;
  }
  .h2, h2 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 300px) {
  .promo img {
    height: 36vw;
    width: 36vw;
  }

  .promo .h2-responsive {
    font-size: 7vw;
  }

  .contact .img-fluid,
  .wire-hidden .img-fluid {
    width: 50vw;
  }
}

@media only screen and (min-width: 480px) {
  .promo img {
    height: 30vw;
    width: 30vw;
  }

  .promo .h2-responsive {
    font-size: 6vw;
  }

  .contact .img-fluid,
  .wire-hidden .img-fluid {
    width: 40vw;
  }
}

@media only screen and (min-width: 768px) {
  .promo img {
    height: 24vw;
    width: 24vw;
  }

  .promo .h2-responsive {
    font-size: 5vw;
  }

  .contact .img-fluid {
    width: 30vw;
  }
}

@media only screen and (min-width: 1024px) {
  .promo img {
    height: 18vw;
    width: 18vw;
  }

  .promo .h2-responsive {
    font-size: 4vw;
  }

  .contact .img-fluid,
  .wire-hidden .img-fluid {
    width: 20vw;
  }
}

@media only screen and (min-width: 1200px) {
  .promo img {
    height: 10vw;
    width: 10vw;
  }

  .promo .h2-responsive {
    font-size: 2vw;
  }

  .contact .img-fluid,
  .wire-hidden .img-fluid {
    width: 10vw;
  }
}


// Header Animations
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hide-container {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1 !important;
  }
}
